<div class="height">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-3 mt-5">
        Total Users
        <span class="badge badge-primary"><%= @users.present? ? @users.count : 0 %></span>
      </h2>
    </div>
  </div>
  <% @users.present? &&  @users.each do |user| %>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="pt-3 pb-3 border-bottom">
          <h4 class="mb-0"><%= user.first_name %></h4>
          <a href="#" class="text-muted"><%= user.email %></a>
          <div class="mb-3"></div>
          <% user.tasks.present? && user.tasks.each do |task| %>
            <p class="mb-1"><i class="fa fa-check-square <%= task.status? ? 'text-success' : ''%>"></i> <%= task.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>  
</div>





