<%= form_for user, url: user_path(id: user.id), method: :put, remote: true, html: {"data-parsley-validate" => true} do |f| %>
  <% keys = get_date_keys(@grouped_tasks, local_date(user.timezone)) %>
  <div class="row">
    <div class="col-md-2"></div>  
    <div class="col-md-12 col-lg-8">
      <% if user.tasks.active_tasks.present? %>
        <ul class="read-more-wrap list-style-none">
          <% keys.each_with_index do |key, index| %>
            <% tasks_count = @grouped_tasks.select{|c| c[0] == key} %>
            <% tasks_count = tasks_count.present? ? tasks_count.flatten(1).last.count : 0 %>
            <li class="<%=  index > 14 ? 'read-more-target' : '' %>">
              <%= render partial: 'form_parts', locals: {f: f, key: key} %>
            </li>
            <%= f.submit '', style: "display:none;", class: 'hidden', id: 'submit_tag' %>
          <% end %>
        </ul>
      <% else %>
          <%= render partial: 'form_parts', locals: {f: f, key: Time.now.in_time_zone(user.timezone).to_date, task: nil} %>
          <%= f.submit '', style: "display:none;", class: 'hidden', id: 'submit_tag' %> 
      <% end %>
      <% if keys.present? && keys.count > 14 %>
        <div class="loader d-none" id="infinite-scrolling" data-page="<%= params[:page].present? ? params[:page].to_i + 1 : 2 %>">Loading...
        </div>
      <% end %>

    </div>  
  </div>
<% end %>