<%= form_for user, url: user_path(id: user.id), method: :put, remote: true, html: {"data-parsley-validate" => true} do |f| %>
  
  <% grouped_tasks = user.tasks.order("task_date DESC").order(:sort).group_by(&:task_date) %>
  <div class="container container-height">
    <div class="row">
      <div class="col-md-2"></div>  
      <div class="col-md-8">
        <% if grouped_tasks.keys.present? && grouped_tasks.keys.count > 14  %>
        <input type="checkbox" class="read-more-state" id="post-2" />
        <% end %>
        <% if user.tasks.present? %>
          <ul class="read-more-wrap list-style-none">
            <% grouped_tasks.keys.each_with_index do |key, index| %>
              <% tasks_count = grouped_tasks[key].count %>
              <li class="<%=  index > 14 ? 'read-more-target' : '' %>">
                <%= render partial: 'form_parts', locals: {f: f, key: key} %>
              </li>
              <%= f.submit '', style: "display:none;", class: 'hidden', id: 'submit_tag' %>
            <% end %>
          </ul>
        <% else %>
            <%= render partial: 'form_parts', locals: {f: f, key: Date.today, task: nil} %>
            <%= f.submit '', style: "display:none;", class: 'hidden', id: 'submit_tag' %> 
        <% end %>
        <% if grouped_tasks.keys.present? && grouped_tasks.keys.count > 14  %>
          <label for="post-2" class="read-more-trigger mt-3 btn btn-block"></label>
        <% end %>
      </div>  
    </div>
  </div>
 
<% end %>