<div id='tasks'>
  <div class="row mt-5">
    <div class="col-10">
      <% day = key.present? ? display_date(key) : 'Today' %>
      <h4 class="mb-3"><%= key.present? ? display_date(key) : "<b>Today</b>".html_safe %></h4>
    </div>
    <% if day == "Today" && f.object.tasks.present? %>
      <div class="col-2 mb-2">
        <div class="progress float-right ml-2" data-percentage="<%= completed_percentage(f) %>">
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
          </div>
        </div>
        <div class="float-right ml-2 mt-2">
          <small class="text-muted"><%= completed_status(f) %></small>
        </div>
      </div>
    <% end %>    
  </div>  
  <div class="row">
    <div class="col-md-12">     
      <div class="<%= f.object.tasks.present? ? 'add-task' : 'd-none' %> p-4">           
        <ul id="sortable<%= Date.today %>" class="sortable ui-sortable ">
          <%= f.fields_for :tasks, f.object.tasks.order("task_date DESC").order(:sort) do |task| %>
            <%= render 'task_fields', :f => task if key == task.object.task_date.to_date %>
          <% end %>       
        </ul>
      </div>
    </div>
  </div>
</div>
<div id='thoughts' class="thoughts_<%= key %>">  
  <div class="row">
    <div class="col-md-12">
      <div class="<%= f.object.thoughts.present? ? 'add-task' : 'd-none' %> add-thought p-4" >                
        <ul>
          <%= f.fields_for :thoughts, f.object.thoughts.order("thought_date DESC") do |thought| %>
            <%= render 'thought_fields', :f => thought  if key == thought.object.thought_date.to_date %>
          <% end %>     
        </ul>
      </div>
    </div>
  </div>
</div>    
<div class="row">
  <div class="col-md-12">
    <% @key = key %>
    
    <%= link_to_add_association 'Add Task', f, :tasks, :partial => 'new_task_fields', class: 'btn btn-success mt-3' %>
    <% if f.object.thoughts.find_by_thought_date(key).present? %>
      <%= link_to 'Edit Thought', 'javascript:void(0);', class: "save-thoughts btn btn-outline-dark mt-3 et_#{key}", id: 'edit_thoughts', 'data-id' => key %>
    <% else %>
      <%= link_to_add_association 'Add Thought', f, :thoughts, :partial => 'new_thought_fields', class: "add-thoughts btn btn-outline-dark mt-3 ant_#{key}", id: 'add_new_thoughts', 'data-id' => key  %>
    <% end %>  
    <%= link_to 'Save Thought', 'javascript:void(0);', class: "save-thoughts btn btn-outline-dark mt-3 d-none st_#{key}", id: 'save_thoughts', 'data-id' => key %>
  </div>
</div>

<script type="text/javascript">

  var ready, set_positions;

  set_positions = function(){
    $('.ui-state-default').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){
    set_positions();
    $('.sortable').sortable();
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      updated_order = []
      set_positions();
      $('.ui-state-default').each(function(i){
        updated_order.push({ id: $(this).data("id"), position: i+1 });
      });

      $.ajax({
        type: "PUT",
        url: '/tasks/sort',
        data: { order: updated_order }
      });
    });
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>