<% if false %>
<div class="nested-fields new-task-field">
  <div class="add-task add-task-list">
    <ul>
      <li>
        <div class="checkbox checkbox-success pull-left">
      		<%= f.check_box :status, id: 'check#{f.object.id}', class: 'styled'  %>
          <label for="check<%= f.object.id %>"  class="m-0">
      			<%= f.text_area :title, autofocus: true, class: 'm-0 new-title', placeholder: 'Enter a task here...' %>
          </label>
        </div>
        <%= f.hidden_field :task_date, value: @key, class: 'new-task-date-hidden' %>
        <div class="pull-right icon-fa close-task">
          <%= link_to_remove_association f, :partial => 'new_task_fields' do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      </li>
    </ul> 
  </div>
</div>
<%end%>