<li class='nested-fields thoughts add-thougt-box' id="thought_<%= f.object.id %>" data-id="<%= f.object.id %>">
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="form-group">
        <%= hidden_field_tag :thought_id,  '', value: f.object.id, id: "hidden_thought_#{key}" %>
        <%= f.cktext_area :title, class: 'm-0 thought-area form-control editor',id: 'myeditor1', 'data-id': key, contenteditable: "true" %>
       
      </div>
      <%= f.hidden_field :thought_date %>
    </div>
    <div class="pull-right icon-fa close-thought">
        <%= f.hidden_field :_destroy, false %>
        <%= link_to 'javascript:void(null);', :partial => 'thought_fields', id: 'delete_thought_button' do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
  </div>

</li>

