<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to current_user.present? ? current_user.is_admin? ? admin_root_path  : authenticated_root_path : root_path do %>
			<%= image_tag 'logo.png', alt: '', class: 'logo-footer logo-header mr-3' %>
		<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<% if current_user.present? %>
      	<li class="nav-item <%= params[:controller] == 'todos' && params[:action] == 'index' ? 'active' : '' %>">
        	<a class="nav-link" href="<%= authenticated_root_path %>">Your tasks <span class="sr-only">(current)</span></a>
      	</li>
      	<li class="nav-item <%= params[:controller] == 'users' && params[:action] == 'stats' ? 'active' : '' %>">
        	<a class="nav-link" href="<%= user_stats_path(current_user.id) %>">Stats</a>
      	</li>
      <%  end %>
			<li class="nav-item <%= params[:controller] == 'home' && params[:action] == 'public_feed' ? 'active' : '' %>">
        <a class="nav-link" href="<%= home_public_feed_path %>">Explore</a>
      </li>      
    </ul>
    <div class="form-inline my-2 my-lg-0">
    	<% unless current_user.present? %>
    		<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-success btn-sm mr-1' %>
				<%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary btn-sm' %>
			<% end %>
    </div>
  </div>
  <% if current_user.present? %>
  	<ul class="navbar-nav mr-auto drop-setting" id="navbar_menu">
  		<%= render partial: 'shared/navbar_menu' %>
  	</ul>	
	<% end %>
</nav>
