<div id='tasks'>
  <div class="row mt-2">
    <div class="col-10">
      <% day = key.present? ? display_date(key, local_date(current_user.timezone)) : 'Today' %>
      <h4 class="mb-3"><%= key.present? ? (display_date(key, local_date(current_user.timezone))) : "<b>Today</b>".html_safe %></h4>
    </div>
    <div class="col-2 mb-2" id="progress_<%= key %>">
      <%= render partial: 'progress_container', locals: { f: current_user, key: key, user: nil } %>
    </div>
  
  </div>  
  <div class="row">
    <div class="col-md-12">     
      <div class="<%= current_user.tasks.present? ? 'add-task' : 'd-none' %> pr-4 pl-4 pt-1 pb-0">           
        <ul id="sortable<%= key %>" class="sortable ui-sortable ">
          <% if key == display_date(key, local_date(current_user.timezone)) && current_user.tasks.where(task_date: key).blank? %>
            <p id="no_task_text">No task to show</p>
          <% else %>
            <% current_user.tasks.order("task_date DESC").order(:sort).each do |task| %>
              <%= render 'task', :task => task if key == task.task_date.to_date %>
            <% end %>
          <% end %>
        </ul>
        <div id='thoughts' class="thoughts_<%= key %>">  
          <ul id="thoughts<%=key%>">

            <% current_user.thoughts.order("thought_date DESC").each do |thought| %>
              <%= render 'thought', :thought => thought, :key => key  if key == thought.thought_date.to_date %>
            <% end %>     
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-12">
    <% @key = key %>
    
    <%= link_to 'Add Task', new_task_path(date: key), remote: true, class: 'btn btn-success mt-3' %>
    
    <%= link_to 'Add Thought', new_thought_path(date: key), remote: true, class: "add-thoughts btn btn-outline-dark mt-3 ant_#{key} #{current_user.thoughts.find_by_thought_date(key).present? ? 'd-none': ''}", id: 'add_new_thoughts', 'data-id' => key %>
    <%= link_to 'Save Thought', 'javascript:void(0);', class: "save-thoughts btn btn-outline-dark mt-3 d-none st_#{key}", id: 'save_thoughts', 'data-id' => key %>
  </div>
</div>

<script type="text/javascript">

  var ready, set_positions;

  set_positions = function(){
    $('.ui-state-default').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){
    
    set_positions();
    $( ".sortable" ).sortable({
      axis: "y"
    });
    
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      updated_order = []
      set_positions();
      $('.ui-state-default').each(function(i){
        updated_order.push({ id: $(this).data("id"), position: i+1 });
      });

      $.ajax({
        type: "PUT",
        url: '/tasks/sort',
        data: { order: updated_order }
      });
    });
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>