<div id='tasks'>
  <div class="row mt-2">
    <div class="col-10 mb-2">
      <% day = key.present? ? display_date(key, local_date(current_user.timezone), agent_type(request)) : 'Today' %>
      <h4 class="mb-2"><%= key.present? ? (display_date(key, local_date(current_user.timezone), agent_type(request))) : "<b>Today</b>".html_safe %></h4>
    </div>
    <div class="mt-2 icon-style">
      <% if index == 0 %>
        <%= link_to root_path(date: "#{key - 1}"), class: 'left-padding', remote: true do %>
          <i class="fa fa-chevron-left"></i>
        <% end %>
        <%= link_to root_path(date: "#{key + 1}"), class: " ml-1", remote: true do %>
          <i class="fa fa-chevron-right"></i>
        <% end %>
      <% end %>  

      <% if index == 0 %>
        <input type="text" id="daterangepicker" name="" class="daterange" value="", style="border:none; box-shadow:none; width:0" readonly="true">
        <label class="icon-style-calendar input-group-addon btn daterange-label" for="daterange">
           <i class="fa fa-calendar open-datetimepicker"></i>
        </label>
      <% end %>  
    </div>
    <div class="col-2 pull-right" id="progress_<%= key %>">
      <%= render partial: 'progress_container', locals: { f: current_user, key: key, user: nil } %>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">     
      <div class="<%= current_user.tasks.active_tasks.present? ? 'add-task' : 'd-none' %> pr-4 pl-3 pt-0 pb-0 todos-list">           
        <ul id="sortable<%= key %>" class="sortable ui-sortable">
          <% if key == display_date(key, local_date(current_user.timezone), 'B') && current_user.tasks.active_tasks.where("DATE(task_date = ?)", key).blank? %>
            <p id="no_task_text">No task to show</p>
          <% else %>
            <% current_user.tasks.active_tasks.order("DATE(task_date) DESC").order(:sort).each do |task| %>
              <%= render 'task', :task => task if key == task.task_date.to_date %>
            <% end %>
          <% end %>
        </ul>
        <div id='thoughts' class="thoughts_<%= key %>">  
          <ul id="thoughts<%=key%>" 'data-id'=<%= key %>>
            <% current_user.thoughts.active_thoughts.order("thought_date DESC").each do |thought| %>
              <%= render 'thought', :thought => thought, :key => key  if key == thought.thought_date.to_date %>
            <% end %>     
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <% @key = key %>
    <%= link_to 'Add Task', new_task_path(date: key), onclick: "return triggerMe(event, this);", remote: true, class: "btn btn-success mt-3 task_#{key} #{current_user.tasks.active_tasks.count >= current_user.plan.total_tasks ? 'qouta_exceeded' : '' }", id: 'add_task', data: { disable_with: "Please wait...", date: key, id: '' }  %>    
    <%= link_to 'Add Thought', new_thought_path(date: key), remote: true, class: "add-thoughts btn btn-outline-dark mt-3 ant_#{key} #{current_user.thoughts.active_thoughts.find_by_thought_date(key).present? ? 'd-none': ''}", id: 'add_new_thoughts', 'data-id' => key %>
    <%= link_to 'Save Thought', 'javascript:void(0);', class: "save-thoughts btn btn-outline-dark mt-3 d-none st_#{key}", id: 'save_thoughts', 'data-id' => key %>
  </div>
</div>
<div id="rails_tags" data-tags="<%= current_user.tags.present? ? current_user.tags.map(&:title) : [] %>"></div>

<script type="text/javascript">

  var ready, set_positions;

  set_positions = function(){
    $('.ui-state-default').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){
    set_positions();
    $( ".sortable" ).sortable({
      axis: "y",
      cursor: 'move',
      tolerance: "pointer",
      handle: ".handle-sort",
      containment: "parent"
    });

    if ($('#sortable<%= key %>').find('li.add-task-box:visible').length < 1) {
      $('.thoughts_<%= key %>').find('li:visible').addClass('bt-0')
    }
    
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      $('.add-task').find('ul.sortable').find('li.add-task-box:first').removeClass('bt-1');
      $('.add-task').find('ul.sortable').find('li.add-task-box:not(:first)').addClass('bt-1');
      $(this).find('.add-task-box').removeAttr('style');
      updated_order = []
      set_positions();
      $('.ui-state-default').each(function(i){
        updated_order.push({ id: $(this).data("id"), position: i+1 });
      });

      $.ajax({
        type: "PUT",
        url: '/tasks/sort',
        data: { order: updated_order }
      });
    });
   
    $('.open-datetimepicker').click(function(event){
      $(this).closest('label').prev().daterangepicker({
        singleDatePicker: true,
        autoApply: true,
        autoUpdateInput: true,
        startDate: moment().format("YYYY-MM-DD"),
        endDate: moment().format("YYYY-MM-DD"),
        locale: {
          "format": "YYYY-MM-DD",
          "separator": "/"
        },
        onSelect: function(dateText, inst) {
        }
      }).on("apply.daterangepicker", function(ev) {
        $.ajax({
          type: "GET",
          url: '/?date='+$(this).val(),
          data: {},
          success: (function(result) {   
          })
        });
      }).focus();
    });
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>