<% today_tasks = today_task(f, key, current_user) unless today_tasks.present? %>
<% completed_tasks = today_tasks.completed_tasks unless completed_tasks.present? %>

<%= puts "TODAY++++", today_tasks.inspect %>
<%= puts "COMPLETEWD++++", completed_tasks.inspect %>
<div class="progress-loader float-right ml-2" id="progress_loader_<%=key%>" data-animation="1" data-animationStep="5" data-percent="<%= completed_percentage(today_tasks, completed_tasks) %>"></div>

<div class="float-right ml-2 tasks_number">
  <small class="text-muted"><%= completed_status(today_tasks, completed_tasks) %></small>
</div>