<li class='nested-fields thoughts add-thougt-box' id="thought_<%= thought.id %>" data-id="<%= thought.id %>">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= hidden_field_tag :thought_id, thought.id, id: "hidden_thought_#{key}" %>
        <div class="pos-rel">
          <div id="myeditor_<%=key%>" contenteditable="true" class="m-0 thought-area form-control editor" 'data-id'= <%=key%>>
            <%= thought.title.present? ? thought.title.html_safe : '' %>
          </div>
        </div>
        <%= hidden_field_tag :thought_title, thought.title, id: "thought_title_#{key}" %>
        <%#= text_area_tag "thought_title", thought.title, class: 'm-0 thought-area form-control editor', id: "myeditor_#{key}", 'data-id': key, contenteditable: "true" %>
      </div>
      <%= hidden_field_tag :thought_date, thought.thought_date %>
    </div>
    <div class="pull-right icon-fa close-thought">
        <%= hidden_field_tag :_destroy, false %>
        <%= link_to 'javascript:void(null);', :partial => 'thought_fields', id: 'delete_thought_button' do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
  </div>
</li>