<!DOCTYPE html>
<html>
  <head>
    <title>React</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: 'shared/header' %>
      
      <% if flash[:notice].present? %>
        <div class="alert alert-success mt-3">
          <div class="notice"><%= notice %></div>
        </div>
      <% elsif flash[:error].present? %>
        <div class="alert alert-danger mt-3">
          <div class="alert"><%= alert %></div>
        </div>  
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
